In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timezone

In [2]:
filename = 'master_Fe_gx3v7.txt'

columns = ['month', 'lon', 'lat', 'depth', 'dFe_obs', 'gridx', 'gridy', 'gridlevel', 'inregion']
dtypes = {k: 'int32' for k in ['month', 'gridx', 'gridy', 'gridlevel', 'inregion']}

with open(filename) as fid:
    lines = []
    part = 0
    for line in fid:
        if part == 0:
            values = [float(s) for s in line.split()]
            part = 1
        else: 
            values.extend([float(s) for s in line.split()])
            values = np.array(values)
            values[values == -1e10] = np.nan
            lines.append({k: v for k, v in zip(columns, values)})
            part = 0

df = pd.DataFrame(lines).astype(dtypes).drop(['month', 'gridx', 'gridy', 'gridlevel', 'inregion'], axis=1)
df

           lon      lat   depth   dFe_obs
0      210.010 -16.0018    20.0  0.540000
1      210.010 -16.0018    35.0  0.440000
2      210.010 -16.0019    50.0  0.480000
3      210.010 -16.0019    80.0  0.400000
4      210.010 -16.0020   100.0  0.390000
...        ...      ...     ...       ...
27777  160.051  47.0032  3929.6  0.825681
27778  160.051  47.0032  3929.8  0.902248
27779  160.051  47.0032  4900.4  0.555630
27780  160.051  47.0032  4900.9  0.621851
27781  160.051  47.0032  5210.1  0.573220

[27782 rows x 4 columns]

In [3]:
datestamp = datetime.now(timezone.utc).strftime("%Y-%m-%d")
df.to_csv(f'dFe-database-{datestamp}.csv', index=False, na_rep=-999.)